.hero {
    position: relative;
    background-color: #00d1b2;
}

.title {
    color: #fff;
}

.subtitle {
    color: #fff;
}

.button.is-link {
    background-color: #00d1b2;
    border-color: #00d1b2;
    color: #fff;
}

.button.is-link:hover {
    background-color: #00c4a7;
    border-color: #00c4a7;
}

.image img {
    max-width: 100%;
    height: auto;
}

.image img.logo {
    max-width: 200px;
}

.section-spacing {
    margin-bottom: 20px;
}

.github-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 100px;
    height: auto;
}


.hero-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 150px;
    height: auto;
}


.content {
    margin-bottom: 10px;
}

.columns {
    margin-bottom: 10px;
}

.column {
    padding-bottom: 10px;
}

.hero-body {
    margin-bottom: 20px;
}


ul {
    padding-left: 0;
}

li {
    margin-bottom: 15px;
}
